.nav {
  /* navbar: */
  background: #26394D;
  border-radius: 4px;
  text-decoration: none !important;
}

.navFlexBig{
  display: flex;
  justify-content:flex-start;
  flex-direction: row;
  align-items: flex-start;
}

.navFlexSmall{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}

.navLink{
  /* Home: */
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: none;
}

.initial {
  /* CM: */
  font-family: HelveticaNeue;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.loginButton {
  /* BG: */
  background: #26394D;
  border: 0px;
  border-radius: 4px !important;
  /* 8:12:8:12: */
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 13px;
}
