.largeButton {
  composes: button from '../../sharedStyles/styles.css';
  font-size: 23px;

}

.icon {
  font-size: 45px;
}

.mainTronBox{
    /* Rectangle 2: */
  height: 261px;
  width: 845px;
  background: #3C6B9D;
  border: 1px solid #979797;
  border-radius: 17px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.mainTronCircle{
  /* Mask: */
  background: #D8D8D8;
  height: 261px;
  width: 250px; /*try making 261*/
  border-radius: 150px;
  margin-left: -13%;
  float: left;
}

.mainTronText{
  /* Cody Melton, M.Ed.: */
font-family: Verdana;
font-size: 48px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
float: center;
margin-left: 13%;
}

.mainTronLinks{
  float: right;
}

.mainTronLinks ul{
  list-style: none;
  padding: 0;
}
